.menimg {
	opacity: 0.8;
	height: 97.5vh;
}
.menimg img {
	height: 100vh;
	width: 100%;
}
.heading1 { 
	font-weight: bold; 
	color: white;
	text-align: center; 
	margin-top: -450px;
	font-size: 60px;
}
.ansaetze {
	height: 100vh;
	background-color: #d3d3d3;
}
.ueberschriftansaetze {
	text-align: center;
	font-weight: bolder;
	font-size: 50px;
	margin-top: 20px;
}
.col-sm img {
	height: 200px;
	margin-bottom: 10px;
}
.margleft {
	margin-left: 1.5rem;
}
.col-sm a {
	text-align: left;
	font-weight: bold;
	font-size: 30px;
	color: black;
}
.col-sm a:hover {
	text-decoration: none;
	color: black;
}
.col-sm .card-body {
	text-align: center;
}
.card {
	transition: 0.5s;
	height: 67%;
}
.card:hover {
	box-shadow: 4px 4px 5px grey;
}
.container {
	display: table;
}
.ersteransatz{
	height: 100vh;
	background-color: #d3d3d3;
}
.ersteransatzvorstellung {
	text-align: center;
}
.ersteransatzvorstellung img {
	transition: 0.5s;
}
.ersteransatzvorstellung img:hover {
	box-shadow: 6px 6px 7px grey;
}
.ue2 {
	text-align: center;
	font-weight: bolder;
	font-size: 45px;
}
.zweiteransatz {
	height: 100vh;
	background-color: #d3d3d3;
}
.zweiteransatz .row {
	margin-left: -105px;
}
.ue3 {
	text-align: center;
	font-weight: bolder;
	font-size: 45px;
}
.dritteransatz {
	height: 100vh;
	background-color: #d3d3d3;
}
.dritteransatz .row {
	margin-left: -105px;
}
.ue4 {
	text-align: center;
	font-weight: bolder;
	font-size: 45px;
}
.ue4ue1 {
	font-weight: bold;
	font-size: 20px;
	margin-left: 30px;
	opacity: 0.7;
}
.vierteransatz {
	height: 100vh;
	background-color: #d3d3d3;
}
.ue5 {
	text-align: center;
	font-weight: bolder;
	font-size: 45px;
}
.modellvorstellung {
	height: 100vh;
	background-color: #d3d3d3;
}
.modelleue {
	font-weight: bold;
	text-align: center;
	font-size: 35px;
}
.modelleue img {
	transition: 0.5s;
}
.modelleue img:hover {
	box-shadow: 4px 4px 5px grey;
}
.kontroverse {
	height: 100vh;
}
.einbindung {
	height: 100vh;
	font-weight: bold;
	text-align: center;
	background-color: #d3d3d3;
	font-size: 20px;
}
